<!DOCTYPE html>
<html>
	<head>
		<title>Flask application</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
		
		<style>
			.navbar-fixed {				
				background-color: #17a589;
				display: flex;
				justify-content: center;
				align-items: center;				
			}

			.nav-wrapper {
				display: flex;
				justify-content: center;
				align-items: center;
			}

			.nav-title {
				font-size: 36px;
				font-weight: 700;
				margin: 0;
				color: white;
			}

			.description {
				font-size: 22px;
			}


		</style>
	</head>
	
	<body>
		<div class="navbar-fixed">
			<div class="nav-wrapper">
				<h1 class="nav-title">Анализ снимков МРТ мозга</h1>
			</div>
		</div>
			
		<hr />
		<div class="row">
			<div class="col s6">
				<p class="description">Исходный снимок</p>
				<img id="imgOriginal" src="data:image/jpeg;base64,{{ imgOriginal }}" width="300" height="300">
			</div>
			<div class="col s6">
				<p class="description">Очищенный от шума снимок</p>
				<img id="imgProcessed" src="data:image/jpeg;base64,{{ imgProcessed }}" width="300" height="300">
			</div>
		</div>
		<hr />
		<p class="description">Результат анализа снимка: {{stringParameter}}</p>
		
		<div class="description">
			<a class="description" href="http://127.0.0.1:5000/">На главную</a>
		</div>
	 
	</body>
	
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</html>